<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>



    <div id="header">
        <h1> RECETAS</h1>
    </div>
    <div id="menu">
        <div class="links">
        @Html.ActionLink("Inicio","Index","Home")
            @Html.ActionLink("Recetas", "Index", "Receta")
        </div>
    </div>

    <div id="content">
        @if (IsSectionDefined("Content"))
        {
            @RenderSection("Content")
        }
        else
        {
            <h2> </h2>
        }

        @RenderBody()
    </div>

    <div id="sidebar">
        @if (IsSectionDefined("SideBar"))
        {
            @RenderSection("SideBar")
        }
        else
        {
            <h2> </h2>
        }
    </div>

    <div id="footer">
        <p>recetas@web.com</p>
    </div>

</body>
</html>